$my-name: "Name";

$hero-background-image: url('../img/gradient.jpg');
$about-background-image: url('../img/gradient-2.jpg');
$contact-background-image: url('../img/gradient-3.jpg');

$primary-background-colour: #131920;
$secondary-background-colour: #3e6ca1;
$terciary-background-colour: #804689;
$button-colour: #e47e30;
$text-primary-colour: #f6f6f6;

$border-radius: 24px;

$title-x-font-size: 4rem;
$title-font-size: 2rem;
$body-font-size: 1.5rem;

$media-phone-size: 768px;
$media-laptop-size: 1250px;