$my-name: "Name";

$hero-background-image: url('../img/gradient.jpg');
$about-background-image: url('../img/gradient-2.jpg');

$primary-background-colour: #131920;
$secondary-background-colour: #3e6ca1;
$text-primary-colour: #f6f6f6;

$border-radius: 24px;
$navbar-brand-font-size: 2rem;
$media-phone-size: 440px;
$media-laptop-size: 1250px;