#about {
  text-align: center;
  padding-top: 1%;
}

.column {
  float: none;
  width: 100%;
  padding-bottom: 1%;
}

.row {
  display: flex;
}

.portrait-container {
  background: url("../img/gradient-2.jpg") no-repeat top;
  background-size: cover;
  border-radius: 24px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: 1%;
}

.my-portrait {
  width: 50%;
  padding: 1%;
}

.about-content-container {
  color: #f6f6f6;
  background: #3e6ca1;
  border-radius: 24px;
  border: 0.5px solid #f6f6f6;
  height: 100%;
  margin-left: 1%;
  margin-bottom: -2%;
}
.about-content-container p, .about-content-container h1 {
  padding-top: 5%;
}
.about-content-container p {
  margin: 5%;
  padding-bottom: 2%;
}

@media (max-width: 440px) {
  .column {
    float: none !important;
    width: 100% !important;
  }
  .about-content-container {
    margin-left: 0% !important;
  }
  .portrait-container {
    margin-right: 0% !important;
  }
  .row {
    display: table !important;
  }
}
#top-section {
  background: url("../img/gradient.jpg") no-repeat top;
  background-size: cover;
  border-radius: 24px;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.hero {
  margin-right: auto;
  margin-left: auto;
  color: #f6f6f6;
  padding: 3%;
  width: 50%;
}
.hero h1, .hero h1::after {
  font-size: 4rem;
  padding-bottom: 4%;
}
.hero h1::after {
  content: "Name";
}
.hero p {
  font-size: 1.5rem;
  font-weight: 300;
}

@media (max-width: 1250px) {
  .hero {
    width: 80% !important;
  }
}
nav {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 24px;
  border: 0.5px solid #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 0;
  padding-left: 2%;
  padding-right: 4%;
}
.navbar .items .nav-link, .navbar .navbar-brand {
  color: #f6f6f6;
  text-decoration: none;
}
.navbar .navbar-brand, .navbar .navbar-brand::after {
  font-size: 2rem;
  text-transform: uppercase;
}
@media (max-width: 440px) {
  .navbar .navbar-brand, .navbar .navbar-brand::after {
    font-size: 1.3333333333rem !important;
  }
}
.navbar .navbar-brand::after {
  content: "Name";
}
.navbar .items ul {
  list-style: none;
  display: flex;
}
.navbar .items ul .nav-item {
  padding-left: 4%;
  padding-right: 4%;
}

@media (max-width: 1250px) {
  .navbar {
    padding-right: 10% !important;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #131920;
  overflow-x: hidden;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 24px;
  border: 0.5px solid #fff;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=style.css.map */